
body {
        background-image: url("../Images/Thomas202888.png");
        background-size: contain;
        background-position: center;
        background-attachment: scroll;
        z-index: -1;
    }

.topnav {
    background-color: #d3ad65;
    overflow: hidden;
    font-family:  'Trebuchet MS';
    text-align: center;

}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D; 
    color: white;
}

.In-Your-Face-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgb(197, 193, 207);
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 2rem;
    padding: 20vh 10vw;
}

.bottom-page-info {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Trebuchet MS';
    Color: rgb(213, 202, 218);
    font-weight: lighter;
    font-size: 1rem;
    padding: 20vh 10ww;
}

.Small-Info {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Trebuchet MS';
    Color: rgb(190, 189, 209);
}

.Presidents-and-VP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Presidents-and-VP-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Presidents-and-VP-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 750px) {
    .In-Your-Face-content {
        font-size: 1.5rem;
        padding: 15vh 8vw;
    }
}