


.In-Your-Face-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgb(38, 15, 104);
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 2rem;
    padding: 20vh 10vw;
}

.bottom-page-info {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Trebuchet MS';
    Color: rgb(42, 7, 56);
    font-weight: lighter;
    font-size: 1rem;
    padding: 20vh 10ww;
}

.Small-Info {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Trebuchet MS';
    Color: rgb(13, 8, 63);
}

.Presidents-and-VP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Presidents-and-VP-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


@media (max-width: 750px) {
    .In-Your-Face-content {
        font-size: 1.5rem;
        padding: 15vh 8vw;
    }
}