
body {
    background-image: url('images/Screenshot\ 2026-01-10\ 232458.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.In-Your-Face-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgb(189, 149, 149);
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 2rem;
    padding: 20vh 10vw;
}

.bottom-page-info {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: 'Trebuchet MS';
    Color: rgb(212, 175, 175);
    font-weight: lighter;
    font-size: 1rem;
    padding: 20vh 10ww;
}

.Presidents-and-VP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 750px) {
    .In-Your-Face-content {
        font-size: 1.5rem;
        padding: 15vh 8vw;
    }
}