#background-video {

    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;

}

@media (max-width: 750px) {
    .In-Your-Face-content {
        font-size: 1.5rem;
        padding: 15vh 8vw;
    }
}

.In-Your-Face-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    font-size: 2rem;
    padding: 20vh 10vw;
}